*.class
.gradle
/build/
/bin/
/node_modules/
/.settings/
.project
.classpath

package-lock.json

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

!/gradle/wrapper/gradle-wrapper.jar
