*.class
.gradle
/build/
/dist/
/bin/
/node_modules/
/.settings/
.project
.classpath

package-lock.json

# Package Files
*.jar
*.war
*.ear

# IntelliJ files
.idea/
*.iml

# Serverless directories
.serverless

!/gradle/wrapper/gradle-wrapper.jar
